<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <div class="m-3">
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="fa-solid fa-square-plus"></i>
      <%= 'Add' %>
    <% end %>
  </div>
  <hr>
  <div class="d-flex gap-3 flex-wrap">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product">
        <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2>
          <p><%= bookmark.comment %></p>
          <div class="remove"><%= link_to bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: "Remove?" }, class: 'btn' do %>
              <i class="fa-solid fa-square-xmark"></i>
            <% end %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
