<div class="container mt-3">
  <h1>Add a movie</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, include_blank: false %>
    <%= f.submit 'Add movie' %>
  <% end %>
  <p><%= link_to "Back to #{@list.name}", list_path(@list) %></p>
</div>
